*
!install
!.bash_profile
!.bashrc
!.emacs
!.foursquare-repl
!.git-completion.bash
!.gitcomplete
!.gitconfig
!.gitignore
!.rpi_bashrc
!.screenrc
!.ssh
!.ssh/id_rsa.pub
!.ssh/github_rsa.pub
!s
!s/*
!s/git
!s/git/*
!s/git/aliases
!s/git/aliases/*
!s/git/util
!s/git/util/*
!s/hadoop
!s/hadoop/*
!s/py
!s/py/*
*~
*#
*.pyc
