*
!install
!.bash_profile
!.bashrc
!.emacs
!.foursquare-repl
!.git-completion.bash
!.gitcomplete
!.gitconfig
!.gitignore
!.rpi_bashrc
!.screenrc
!.slate
!.ssh
!.ssh/id_rsa.pub
!.ssh/github_rsa.pub
!s
!s/**/*
*~
*#
*.pyc
