*
!.bash_profile
!.bashrc
!.gitcomplete
!.gitignore
*~
*#
.#*
*.pyc
!adam
!arg
!audio
!bash
!bigwig
!case
!col
!color
!comm
!datetime
!diff
!docker
!emacs
!file
!find
!gcloud
!git
!gradle
!graphite
!grep
!hadoop
!head-tail
!histogram
!image
!jar
!js
!kubectl
!less
!line
!ls
!maven
!net
!num
!ocaml
!osx
!parallel
!path
!perl
!perms
!py
!returncode
!rpi
!rsync
!ruby
!samtools
!sbt
!scala
!screen
!sinai
!size
!sort
!spark
!ssh
!watchman
!which
!whitespace
!xml
!zip
