[submodule "arg"]
	path = arg
	url = https://github.com/ryan-williams/arg-helpers.git
[submodule "bash"]
	path = bash
	url = https://github.com/ryan-williams/bash-helpers.git
[submodule "case"]
	path = case
	url = https://github.com/ryan-williams/case-helpers.git
[submodule "col"]
	path = col
	url = https://github.com/ryan-williams/col-helpers.git
[submodule "color"]
	path = color
	url = https://github.com/ryan-williams/color-helpers.git
[submodule "comm"]
	path = comm
	url = https://github.com/ryan-williams/comm-helpers.git
[submodule "datetime"]
	path = datetime
	url = https://github.com/ryan-williams/datetime-helpers.git
[submodule "diff"]
	path = diff
	url = https://github.com/ryan-williams/diff-helpers.git
[submodule "docker"]
	path = docker
	url = https://github.com/ryan-williams/docker-helpers.git
[submodule "emacs"]
	path = emacs
	url = https://github.com/ryan-williams/emacs-helpers.git
[submodule "file"]
	path = file
	url = https://github.com/ryan-williams/file-helpers.git
[submodule "find"]
	path = find
	url = https://github.com/ryan-williams/find-helpers.git
[submodule "git"]
	path = git
	url = https://github.com/ryan-williams/git-helpers.git
[submodule "grep"]
	path = grep
	url = https://github.com/ryan-williams/grep-helpers.git
[submodule "head-tail"]
	path = head-tail
	url = https://github.com/ryan-williams/head-tail-helpers.git
[submodule "histogram"]
	path = histogram
	url = https://github.com/ryan-williams/histogram-helpers.git
[submodule "jar"]
	path = jar
	url = https://github.com/ryan-williams/jar-helpers.git
[submodule "js"]
	path = js
	url = https://github.com/ryan-williams/js-helpers.git
[submodule "kubectl"]
	path = kubectl
	url = https://github.com/ryan-williams/kubectl-helpers.git
[submodule "less"]
	path = less
	url = https://github.com/ryan-williams/less-helpers.git
[submodule "line"]
	path = line
	url = https://github.com/ryan-williams/line-helpers.git
[submodule "ls"]
	path = ls
	url = https://github.com/ryan-williams/ls-helpers.git
[submodule "net"]
	path = net
	url = https://github.com/ryan-williams/net-helpers.git
[submodule "num"]
	path = num
	url = https://github.com/ryan-williams/num-helpers.git
[submodule "parallel"]
	path = parallel
	url = https://github.com/ryan-williams/parallel-helpers.git
[submodule "path"]
	path = path
	url = https://github.com/ryan-williams/path-helpers.git
[submodule "perl"]
	path = perl
	url = https://github.com/ryan-williams/perl-helpers.git
[submodule "perms"]
	path = perms
	url = https://github.com/ryan-williams/perms-helpers.git
[submodule "py"]
	path = py
	url = https://github.com/ryan-williams/py-helpers.git
[submodule "returncode"]
	path = returncode
	url = https://github.com/ryan-williams/returncode-helpers.git
[submodule "rsync"]
	path = rsync
	url = https://github.com/ryan-williams/rsync-helpers.git
[submodule "screen"]
	path = screen
	url = https://github.com/ryan-williams/screen-helpers.git
[submodule "size"]
	path = size
	url = https://github.com/ryan-williams/size-helpers.git
[submodule "sort"]
	path = sort
	url = https://github.com/ryan-williams/sort-helpers.git
[submodule "ssh"]
	path = ssh
	url = https://github.com/ryan-williams/ssh-helpers.git
[submodule "which"]
	path = which
	url = https://github.com/ryan-williams/which-helpers.git
[submodule "whitespace"]
	path = whitespace
	url = https://github.com/ryan-williams/whitespace-helpers.git
[submodule "xml"]
	path = xml
	url = https://github.com/ryan-williams/xml-helpers.git
[submodule "zip"]
	path = zip
	url = https://github.com/ryan-williams/zip-helpers.git
[submodule "nav"]
	path = nav
	url = https://github.com/ryan-williams/nav-helpers.git
[submodule "aws"]
	path = aws
	url = git@github.com:ryan-williams/aws-helpers.git
[submodule "linux"]
	path = linux
	url = git@github.com:ryan-williams/linux-helpers.git
