[user]
	name = Ryan Williams
	email = ryan.blake.williams@gmail.com

[color]
        diff    = auto
        status  = auto
        branch  = auto

[alias]
        a       = add
#        arc     = !$SRCDIR/git-add-rebase-continue.sh
#        arcs    = !$SRCDIR/git-add-rebase-continue.sh src
        b       = branch -avv
        bu      = branch -u
        c       = commit
        co      = checkout
 #       conflicting     =       !$SRCDIR/git-conflicting.sh
 #       conflicting-theirs      =       !$SRCDIR/git-conflicting-checkout-theirs.sh
        cp      = cherry-pick
        cpc     = cherry-pick --continue
        cpa     = cherry-pick --abort
        ct      = !$SRCDIR/git-conflicting-checkout-theirs.sh
#        ctc     = !$SRCDIR/git-conflicting-checkout-theirs-and-continue.sh
        d       = diff
#        d1      = !$SRCDIR/git-d1.sh
        dc      = diff --cached
        df      = diff
#        ds      = !$SRCDIR/git-ds.sh
        files   = diff-tree --no-commit-id --name-only -r
        h       = help
        history = log --full-diff -p
        l       = ls-files
        lg      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        L       = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n%n%B' --date=relative
        ls      = ls-files
        lso     = ls-files --other --exclude-standard
        lsc     = diff-tree --no-commit-id --name-only -r
        m       = merge
        mt      = mergetool -t meld -y
        pr      = pull --rebase
        r       = remote
        ra      = rebase --abort
        rb      = rebase
        rc      = rebase --continue
        rem     = rebase master
        ri      = rebase -i
        rs      = rebase --skip
        rv      = remote -v
        s       = stash
        sl      = stash list
        ss      = stash save
        sa      = stash apply
        sp      = stash pop
        sm      = submodule
#        uu      = !$SRCDIR/git-conflicting.sh

[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
